@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/* General */
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}


/* Wrapper + Other */
#app {
  width: 100%;
  background: linear-gradient(142.88deg, #612E94 42.56%, #4792BC 99.31%);
}
.nav-desktop, .content, .footer {
  padding: 1em;
}
.nav-desktop, .nav-mobile, .footer {
  height: 8vh; /* placeholder */
  position: sticky;
  background: #612E94;
}


/* Nav-Desktop */
.nav-desktop {
  display: none; /* flex/none */
  align-content: space-between;
  align-items: center;
  top: 0;
}
.nav-desktop h1 {
  width: 100%;
}
.nav-desktop ul {
  display: flex;
}
.nav-desktop li {
  padding-left: 2em;
}


/* Nav-Mobile */
.nav-mobile {
  padding: 1em;
  top: 0;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  transition: .2s;
}
.nav-mobile.active {
  height: 17vh; /* placeholder */
}
.nav-mobile h1 {
  width: 50%;
}
.nav-mobile button {
  padding: .5em 1em;
  width: 50%;
}
.nav-mobile ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  width: 100%;
}
.nav-mobile li {
  width: 50%;
  margin-bottom: 16px;
}


/* Main Content */
.content {
  min-height: 85vh; /* placeholder until i make adjustments*/
  scroll-margin-top: 17vh; /* placeholder */
}


/* Footer */
.footer {
  height: 7vh; /* placeholder */
  bottom: 0;
  text-align: right;
}
.footer i {
  margin-left: 8px;
}


/* Media Queries for larger phones/tablets and desktop */
/* Larger phone/tablet */
@media screen and (min-width: 470px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
  }
  .nav-desktop h1 {
    text-align: left;
  }
  .content {
    scroll-margin-top: 8vh;
  }
}