* {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  margin: 0 auto;
  background: lightgrey;
  display: grid;
}

.section {
  min-height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.purple {
  background: rebeccapurple;
}

.white {
  background: white;
}

.intro {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 35px;
  padding-top: 45px;
}

.spacer {
  width: 1%;
  flex-grow: 1;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  background: rebeccapurple;
  padding: 0 1em;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 999;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav h3,
.nav li {
  font-family: "Yeseva One", serif;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 0 20px;
  font-size: 18px;
}

.intro .intro-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}

.intro-main h1,
.intro-main p {
  width: 100%;
  text-align: center;
}

.section-title {
  max-width: 800px;
}

.purple .section-title h1 {
  color: white;
}

.section-title h1 {
  font-family: "Yeseva One", serif;
  font-size: 40px;
  width: 100%;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.section-title .redbar {
  width: 50px;
  height: 5px;
  background: #D83131;
  margin: 0 auto;
}

.whatdo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding: 25px;
  text-align: center;
  margin-top: 16px;
}

.whatdo-circle {
  font-size: 24px;
  color: rebeccapurple;
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.whatdo-circle svg {
  position: relative;
  top: -8px;
}

#work {
  scroll-margin-top: 25px;
}

.work-container {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.work-container .work-card {
  background: white;
  border-top: 1px solid #bbb;
  padding: 1em;
  width: 100%;
}

.work-card:first-child {
  border-radius: 6px 6px 0 0;
}

.work-card:last-child {
  border-radius: 0 0 6px 6px;
}

.work-card p {
  margin-bottom: 8px;
}

.work-card .work-card-subtitle {
  font-size: 15px;
  color: #666;
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
}

.work-card {
  cursor: pointer;
}

.work-card-bottom {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.work-card.active .work-card-bottom {
  margin-top: 8px;
  height: auto;
  visibility: visible;
  opacity: 1;
}

#contact {
  text-align: center;
}

span {
  cursor: pointer;
}

.contact-container {
  margin-top: 16px;
  display: grid;
  grid-gap: 16px;
}

.contact-icon-container {
  display: flex;
  gap: 8px;
  color: rebeccapurple;
}

.contact-icon-container a,
.contact-icon-container a:visited {
  color: rebeccapurple;
}

.pizza-page {
  background: rebeccapurple;
  color: white;
  padding: 1em;
  margin: 0;
}

.pizza-page .pizza-page-info {
  text-align: center;
}

.pizza-page-info h1 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.pizza-page-info a,
.pizza-page-info a:visited {
  color: white;
}

.pizza-grid {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.pizza-grid img {
  width: 100%;
  height: auto;
  display: block;
}

/* Media Queries */
@media screen and (max-width: 360px) {
  .whatdo-container {
    gap: 30px 10px;
    padding: 25px 10px;
  }
}

@media screen and (min-width: 382px) {
  .intro-main p {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .nav h3 {
    font-size: 30px;
  }

  .nav ul {
    font-size: 24px;
  }

  .intro .intro-main {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .intro-main h1 {
    font-size: 50px;
  }

  .intro-main p {
    font-size: 24px;
  }

  .whatdo h3 {
    margin-top: 8px;
  }

  .work-container .work-card {
    max-width: 600px;
  }
}